
<div class="row">
  <!-- loader spinner, display spinner if we don't have any news "!news". spins till news is loaded -->
  <mat-spinner *ngIf="!news"></mat-spinner>
  <!-- ? = asycnh, only renders until after the articles property-->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" 
  *ngFor="let article of news?.articles">
      <mat-card style="height:535px;">
        <!-- from inspecting article object -->
          <img mat-card-image *ngIf="article.urlToImage" [src]="article.urlToImage" alt="" /> 
          <mat-card-header>
            <mat-card-title>
              <!-- to get title from the article object-->
             {{article.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content style="display:flex; flex-direction: column;" style="text-align:center">
            <p>
              {{article.content}}
            </p>
          </mat-card-content>
          <mat-card-footer>
            <!-- style="text-align: center; -->
              <mat-card-actions>
            <button mat-raised-button color="accent" (click)="onFavorite(article)">Favorite</button>
            <a href="{{article.url}}" target="_blank" mat-raised-button color="primary">Read More</a>
          </mat-card-actions>
          </mat-card-footer>
        </mat-card>
  </div>
</div>
<!-- for Pagination, properties are from newsapi documentation, add a listener to handle event-->
<mat-paginator 
[length]="length" 
[pageSize]="pageSize" 
(page)="onPageChange($event)">
</mat-paginator>